.main__footer {
    background-color: #1B1B24;

    .input__group {
    
        .input {
            width: calc(100% - 70px);
            margin-right: auto;
            background-color: transparent;
            border: 0;
            color: var(--color-gray-light);
            height: 2.5rem;
        }
        .btn {
            width: 40px;
            height: 40px;
        }
    }
}