 
.input__group {

    .input {
        width: calc(100% - 60px);
        margin-right: auto;
        background-color: transparent !important;
        border: 0;
        color: var(--color-gray-light);
        height: 2rem;
        font-size: 11px;
    }
    .btn {
        width: 30px;
        height: 30px;
    }
}